h1 {
  color: chocolate;
  border-radius: 10px;
  text-align: center;
}
p {
  color: rgb(17, 12, 10);
  background-color: cornflowerblue;
  height: 85%;
  width: 70%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10%;
  margin: 20px;
}
h2 {
  color: burlywood;
  background-color: steelblue;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  border-radius: 15px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid tomato;
  border-radius: 5px;
}
